
.n-wrapper {
    height: 10vh;
    display: flex;
    justify-content: space-between;
  }
  
  .n-right{
    padding: 10px;
    
  }
  .n-left {
    padding-left: 410px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 400;
    margin: 20px;
    font-family: 'Stretch Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    color: black;
    text-align: center;
  }
  
  .n-left > a {
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
    font-size: 25px;
  }
  
  a {
    color: rgba(0, 0, 0, 1);
    width: 100px;
    height: 16px;
    text-decoration: none;
  }
  
  .blue {
    color: rgba(36, 46, 115, 1);
    text-decoration-line: underline;
  }
  
  .menu-icon {
    display: none;
  }
  
  .toggle-menu {
    display: none;
  }
  
  .menu-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .menu-list a {
    display: block;
  }
  

  @media (max-width: 600px) {
    .n-left > a {
      display: none;
    }
  
    .menu-icon {
      display: block;
      font-size: 30px;
      margin-right: 2rem;
      cursor: pointer;
    }
  
    
    .toggle-menu {
      display: none;
    }

    .toggle-menu:checked ~ .n-left > a {
      display: none;
    }
  
    .toggle-menu:checked ~ .menu-list {
      display: flex;
    }
  }
  

  @media (max-width: 480px) {
    .n-left {
      flex-direction: column;
      align-items: flex-end;
      gap: 1rem;
      margin: 10px;
    }
  
    .n-left > a {
      display: none;
    }
  
    .menu-icon {
      display: block;
      font-size: 30px;
      margin-bottom: 1rem;
      cursor: pointer;
    }
  
 
    .toggle-menu {
      display: none;
    }
  
    
    .toggle-menu:checked ~ .n-left > a {
      display: none;
    }
  
    .toggle-menu:checked ~ .menu-list {
      display: flex;
    }
  }
  